@use '../../styles/variables';

.keyboard__input {
  display: flex;
  max-width: 1200px;
  width: 100%;
  height: 350px;
  position: relative;
}

.input__ontop {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  opacity: 0;

  font-family: variables.$main-font;
  font-size: 28px;
  color: variables.$blue-color;
  line-height: normal;
}

.p__under {
  border: none;
  outline: none;
  user-select: none;
  font-family: variables.$main-font;
  font-size: 28px;
  line-height: normal;
  color: variables.$text-color;
}