//fonts
$main-font: "Noto Sans Mono", monospace;

//colors
$white-color: #F7F8FB;
$black-color: #17181A;
$light-black-color: #303136;
$gray-color: #616161;
$dark-gray-color: #222222;
$light-gray-color: #A5A5A5;
$text-color: #6d7887;
$background-color: #22272e;
$red-color: #ef6c75;
$blue-color: #4895ef;